@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #997a62;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: #096b6a;
	display: block;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	margin: 10px 0;
}